<p>search-skill works!</p>
<div >
    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
        <table>
           <tr> 
             <td>
                 <input type="radio" value="NAME" name="criteria" [ngModel]="txtCriteria" required #criteria="ngModel"> Name :
             <td>
             <td>
                <input name="uname" [ngModel]="txtName" required #uname="ngModel">
                 <!--<div *ngIf="uname.invalid && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                    Name required. 
                 </div>-->
             </td>
           </tr> 
           <tr> 
            <td>
                <input type="radio" value="ASSOCIATEID" name="criteria" [ngModel]="txtCriteria" required #criteria="ngModel"> AssociateId :
            <td>
            <td>
               <input name="uassociateid" [ngModel]="txtassociateid" required #uassociateid="ngModel">
                <!--<div *ngIf="uname.invalid && userForm.submitted && !isValidFormSubmitted" [ngClass] = "'error'"> 
                   Name required. 
                </div>-->
            </td>
          </tr> 	 
           <tr> 	  
             <td colspan="2">
                    <button>Submit</button>   	  
             </td>
           </tr>	   
        </table>  
      </form> 
<br/>
</div>

<br/>
<div>
    <table class="table table-bordered" width="800">
        <tr *ngFor="let user of userlist">
            <td [width]="300">
                    <B>Name: </B>{{user.name}}<br/>
                    <B>AssociateId: </B>{{user.associateId}}<br/>
                    <B>Email: </B>{{user.email}}<br/>
                    <B>Mobile: </B>{{user.mobile}}<br/>
                   
            </td>           
            <td [width]="300">
                <B>Htmlcssjavascript: </B>{{user.htmlcssjavascript}}<br/>
                <B>Angular: </B>{{user.angular}}<br/>
                <B>React: </B>{{user.react}}<br/>
                <B>AspNetCore: </B>{{user.aspNetCore}}<br/>
                <B>Restful: </B>{{user.restful}}<br/>
                <B>EntityFramework: </B>{{user.entityFramework}}<br/>
                <B>Git: </B>{{user.git}}<br/>
                <B>Docker: </B>{{user.docker}}<br/>
                <B>Jenkins: </B>{{user.jenkins}}<br/>
                <B>Azure: </B>{{user.azure}}<br/>
            </td> 
            <td>
                <B>Spoken: </B>{{user.spoken}}<br/>
                <B>Communication: </B>{{user.communication}}<br/>
                <B>Aptitude: </B>{{user.aptitude}}<br/>
                <B>CreationDate: </B>{{user.creationDate}}<br/>
              
            </td>   
            </tr> 
            <tr><td colspan="3"><hr></td></tr> 
        </table>
    </div>
