<table  width="800"><tr><td>
<div >
   
    <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)" autocomplete="off" class="form-horizontal">
     
        <div class="form-group" >
                 
            <input type="radio"  value="NAME" name="criteria" [ngModel]="txtCriteria" required #criteria="ngModel"  [checked]='true'   > Name :
        
            <input name="uname" [ngModel]="txtName" required #uname="ngModel" class="col-sm-6">
            
        
        </div>
        <div class="form-group">    
                         
                <input type="radio" value="ASSOCIATEID" name="criteria" [ngModel]="txtCriteria" required #criteria="ngModel"  > Associate Id :
                <input name="uassociateid" [ngModel]="txtassociateid" required #uassociateid="ngModel" class="col-sm-6">
                
        </div>
        <div class="form-group">  
            <div >
                <input type="radio" value="SKILL" name="criteria" [ngModel]="txtCriteria" required #criteria="ngModel"   > Skill :
                <select name="uskill" class="custom-select" [ngModel]="txtSkillName" required #uskill="ngModel" class="col-sm-6"  >
                    <option value="" disabled>Select Skill</option>
                    <option *ngFor="let skill of skills" [ngValue]="skill">{{skill}}</option>
                 </select>
            </div>
        </div>
        <input type="submit" value="Search" class="btn btn-primary col-sm-offset-3" />&nbsp;&nbsp;
       
      </form> 
<br/>
</div>
</td></tr></table>

<br/>

<div class="content">
    <table class="table table-bordered" width="800">
        <tr *ngFor="let user of userlist">
            <td [width]="300">
                    <B>Name: </B>{{user.name}}<br/>
                    <B>AssociateId: </B>{{user.associateId}}<br/>
                    <B>Email: </B>{{user.email}}<br/>
                    <B>Mobile: </B>{{user.mobile}}<br/>
                   
            </td>           
            <td [width]="300">
                <B>Htmlcssjavascript: </B>{{user.htmlcssjavascript}}<br/>
                <B>Angular: </B>{{user.angular}}<br/>
                <B>React: </B>{{user.react}}<br/>
                <B>AspNetCore: </B>{{user.aspNetCore}}<br/>
                <B>Restful: </B>{{user.restful}}<br/>
                <B>EntityFramework: </B>{{user.entityFramework}}<br/>
                <B>Git: </B>{{user.git}}<br/>
                <B>Docker: </B>{{user.docker}}<br/>
                <B>Jenkins: </B>{{user.jenkins}}<br/>
                <B>Azure: </B>{{user.azure}}<br/>
            </td> 
            <td>
                <B>Spoken: </B>{{user.spoken}}<br/>
                <B>Communication: </B>{{user.communication}}<br/>
                <B>Aptitude: </B>{{user.aptitude}}<br/>
                <B>CreationDate: </B>{{user.creationDate}}<br/>
              
            </td>   
            </tr> 
            
        </table>
    </div>
