<p>test works!</p>
<div>{{testid}}</div>

<div>Table 
<table class="table table-dark">
    <tr *ngFor="let user of userlist">
        <td>
                {{user.name}}<br/>
                {{user.associateId}}<br/>
                {{user.email}}<br/>
                {{user.mobile}}<br/>
               
        </td>           
        <td>
            {{user.htmlcssjavascript}}<br/>
            {{user.angular}}<br/>
            {{user.react}}<br/>
            {{user.aspNetCore}}<br/>
            {{user.restful}}<br/>
            {{user.entityFramework}}<br/>
            {{user.git}}<br/>
            {{user.docker}}<br/>
            {{user.jenkins}}<br/>
            {{user.azure}}<br/>
        </td> 
        <td>
            {{user.spoken}}<br/>
            {{user.communication}}<br/>
            {{user.aptitude}}<br/>
            {{user.creationDate}}<br/>
          
        </td>   
        </tr> 
        <tr><td colspan="3"><hr></td></tr> 
    </table>
</div>